baseURL: https://www.mikael.dev/
title: Mikael Weaver
languagecode: en
pluralizelisttitles: false
paginate: 21
disableKinds: ["taxonomyTerm"]

params:
  img_sizes: [480, 768, 1200, 1400, 1700, 2000, 2436]
  srcset_img_prefix: https://mikaeldevcdn.blob.core.windows.net/
  header_logo: {alt: '', src: img/Mikael-0233-zoomed.jpg}

relativeURLs: false
title: mikael.dev

markup:
  defaultMarkdownHandler: goldmark
  tableOfContents:
    endLevel: 3
    ordered: false
    startLevel: 2
  goldmark:
    extensions:
      definitionList: true
      footnote: true
      linkify: true
      strikethrough: true
      table: true
      taskList: true
      typographer: true
    parser:
      attribute: true
      autoHeadingID: true
      autoHeadingIDType: github
    renderer:
      hardWraps: true
      unsafe: false
      xhtml: false
  highlight:
    codeFences: true
    guessSyntax: false
    hl_Lines: ""
    lineNoStart: 1
    lineNos: false
    lineNumbersInTable: true
    noClasses: true
    style: monokai
    tabWidth: 4


taxonomies:
  category: categories
  tag: tag