# Images which are pushed directly to Azure
*.jpg
*.JPG
*.JPEG
*.jpeg
*.png
*.gif
*.webp
*.jp2
*.tif
*.tiff
*.TIF
*.TIFF

# Mac Finder text clippings
*.textClipping
*.textclipping

# Hugo dirs
resources/*
public/*

# Secrets
*.env

# Mac 
*.DS_Store
*.afpDeleted*

# Typora
*._* 

.env
package-lock.json

.hugo_build.lock

__*

**/.vs/*
**/bin/*
**/obj/*

node_modules/*

repomix-output.txt
repomix.config.json
.repomixignore

hugo_stats.json