@import "assets/scss/site_params.scss";

.header{
    h1 {
        font-size: 60px;
        max-width: 80%;
        margin: 0 auto;
        margin-top: 60px;
        margin-bottom: 60px;
    }

    position: relative;

    img, picture {
        padding-bottom: 4rem;
        width: 70%;
    }

    margin-bottom: 20px;
}

img {
    max-width: 100%;
}

article {
    max-width: 1200px;
    margin: 0 auto;
    background-color: white;
    //padding-left: 10%;
    //padding-right: 10%;

    div.image-wrap {
        margin: 0 auto;
        text-align: center;

        img,
        picture {
            margin: 0 auto;
        }
    }
}

ul,
ol {
    padding-left: 3em;
    padding-right: 3em;
}

.highlight {
    font-size: 18px;

    pre {
        overflow-x: auto;
    }

    div {
        overflow-x: auto;
    }

    table {
        padding: 1rem !important;
    }
}
