@import "assets/scss/site_params.scss";

.header{
    h1 {
        font-size: 60px;
        max-width: 80%;
        margin: 0 auto;
        margin-top: 60px;
        margin-bottom: 60px;
    }

    position: relative;

    img, picture {
        padding-bottom: 4rem;
        width: 70%;
    }

    margin-bottom: 20px;
}

img {
    max-width: 100%;
}

article {
    max-width: 1200px;
    margin: 0 auto;
    background-color: white;
    //padding-left: 10%;
    //padding-right: 10%;

    div.image-wrap {
        margin: 0 auto;
        text-align: center;

        img,
        picture {
            margin: 0 auto;
        }
    }
}

p {
    margin-bottom: 1em;
}

h2 {
    margin-top: 1.8em;
    margin-bottom: 0.6em;
}

h3 {
    font-size: 1.3em;
    margin-top: 1.5em;
    margin-bottom: 0.5em;
}

ul,
ol {
    padding-left: 3em;
    padding-right: 3em;
}

li {
    margin-bottom: 0.4em;
}

table {
    border-collapse: collapse;
    margin: 1.5em 0;
    width: 100%;

    th, td {
        border: 1px solid #ddd;
        padding: 0.5em 0.75em;
        text-align: left;
    }

    th {
        background-color: #f5f5f5;
        font-weight: bold;
    }
}

.highlight {
    font-size: 18px;
    margin: 1.5em 0;

    pre {
        overflow-x: auto;
    }

    div {
        overflow-x: auto;
    }

    table {
        padding: 1rem !important;
        border: none;
        margin: 0;

        th, td {
            border: none;
            padding: 0;
        }
    }
}

pre:not(.highlight pre) {
    margin: 1.5em 0;
}
