@import "assets/scss/site_params.scss";

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

p, ul, h2, h3 {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-family: monospace;
}

h2 {
    font-size: 40px;
    padding-bottom: 10px;
}

a {
    color: $forest;
}
a:hover {
    color: $orange;
}

p, ul {
    font-size: 20px;
    line-height: 32px;
}

.container {
    padding-left: 5%;
    padding-right: 5%;
}

.center {
    text-align: center;
    justify-content: space-between;
    align-items: center;
    list-style-position: inside;
    margin: auto;
}

///// TODO - these are to center blog pictures. Make it better!
.thumbnail-post-content {
    width: 100%;
    align-content: center;
    text-align: center;
    margin: 0 auto;
}
.feature-thumbnail-container {
    align-content: center;
    text-align: center;
    margin: 0 auto;
}

.list .feature-thumbnail-container img {
    max-width: 50%;
    height: auto;
}
////////////////