@import "assets/scss/site_params.scss";

$lgHeaderFontSize: 1em;
$xlHeaderFontSize: 1.2em;

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.desktop-flex {
    display: none !important; 
}
.mobile-flex {
    display: flex !important;
}
@include lg {
    .desktop-flex {
        display: flex !important;
    }
    .mobile-flex {
        display: none !important;
    }
}

//////////////////////
// Navbar Mobile
//////////////////////
// body changes for mobile
.navbar {
    justify-content: center;
    .navbar-links {
        display: none;
        max-width: 600px;
    }
}
.show-menu {
    height: 100vh;
}

.navbarm {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    //align-items: center;
    //justify-content: space-between;
    font-size: 1.4em;
    //padding: 10px;
    font-family: $menuFont;
    position: fixed;
    overflow-y: scroll;
    background: $white;
    z-index: 5;
    transition: top 0.3s; /* Transition effect when sliding down (and up) */
    padding-top: 10px;
    padding-bottom: 10px;

    .navbar-header {
        align-items: center;
        justify-content: center;
    }
    .navbar-logo {
        img {
            width: $mobileNavHeight + 30;
        }
    }
    .navbar-toggle {
        color: $translucent-black;
        font-size: 32px;
        font-family: $headerFont;
        position: absolute;
        left: 10vw;
        svg {
            width: 12vw;
            padding-left: 3vw;
            padding-right: 3vw;
        }
    }
    .navbar-toggle-links {
        display: none;
        flex-direction: column;
        justify-content: flex-start;
        background-color: $white;
        height: 100%;
        padding-top: 10%;
        padding-bottom: 5%;
        width: 50vw;
        a {
            font-size: 4vw;
            text-decoration: none;
            margin: auto 15px;
        }
        a:hover {
            color: $orange;
        }
    }
}

//////////////////////
// Navbar Desktop
//////////////////////
@include lg {
    .navbar {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        font-size: $lgHeaderFontSize;
        font-family: $menuFont;
        position: fixed;
        background: $white;
        transition: top 0.3s; /* Transition effect when sliding down (and up) */
        padding-left: 10px;
        padding-right: 10px;
        a {
            text-decoration: none;
            color: $translucent-black;
            margin: 0 5px 0 5px;
        }

        img {
            width: 100px;
            display: block;
            margin-left: auto;
            margin-right: auto;
            border-radius: 50%;
            z-index: 50;
        }
        .navbar-links {
            width: 30vw;
            display: flex;
            align-items: center;
            justify-content: space-between;
    
            a {
                text-decoration: none;
            }
        }
    }
    // Fix off centering of menu due to word length difference
    #navbar-desktop > div.navbar-links.dropdown:not(:first-child) {
        padding-left: 15px;
    }
}