@import "assets/scss/site_params.scss";

.triangle-container {
    width: 80%;
    margin: auto;
    position: relative;
    margin-top : 5%;

    .triangle-1-wrapper {
        position: absolute;
        width: 8%;
        z-index: -3;
        margin-left: -5%;
    }

    .triangle-2-wrapper {
        width: 8%;
        position: absolute;
        margin-left: 0%;
        margin-top: 26%;
        transform: rotate(250deg);
        transform-origin: 0 0;
        z-index: -1;
    }
    .triangle-3-wrapper {
        width: 17%;
        position: absolute;
        margin-left: -10%;
        margin-top: 5%;
        transform: scaleX(-1) rotate(20deg);
        z-index: -1;
    }
    .triangle-4-wrapper {
        width: 22%;
        position: absolute;
        z-index: -1;
        margin-left: 8%;
        margin-top: 10%;
        transform: rotate(4deg);
    }
    .triangle-5-wrapper {
        width: 28%;
        position: absolute;
        margin-left: 18%;
        margin-top: -9%;
        transform: rotate(-19deg);
        z-index: -2;
    }
    .triangle-6-wrapper {
        width: 7%;
        position: absolute;
        z-index: -5;
        margin-left: 40%;
        margin-top: 11%;
        transform: rotate(-9deg);
    }
    .triangle-7-wrapper {
        width: 20%;
        position: absolute;
        margin-left: 40%;
        margin-top: -10%;
        transform: rotate(10deg);
        z-index: -1;
    }
    .triangle-8-wrapper {
        width: 18%;
        position: absolute;
        margin-left: 56%;
        margin-top: 4%;
        transform: rotate(12deg);
        z-index: -3;
    }
    .triangle-9-wrapper {
        width: 20%;
        position: absolute;
        z-index: -1;
        margin-left: 85%;
        margin-top: 0%;
        transform: rotate(-15deg);
    }
    .triangle-10-wrapper {
        width: 17%;
        position: absolute;
        z-index: -7;
        margin-left: 70%;
        margin-top: 0%;
        transform: rotate(20deg);
    }
    .triangle-11-wrapper {
        width: 8%;
        position: absolute;
        margin-left: 68%;
        margin-top: 0%;
        z-index: -1;
        transform: rotate(-5deg);
    }
    .triangle-12-wrapper {
        width: 12%;
        position: absolute;
        z-index: -1;
        margin-left: 98%;
        margin-top: -4%;
        transform: rotate(5deg);
    }
    .desktop-nav {
        background-color: white;
        position: absolute;
        width: 100%;
        top: 35%;
        z-index: -1;
        display: flex;
        justify-content: space-between;
        height: 10%;
    }
    img.headshot {
        width: 20%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        border-radius: 50%;
        z-index: 50;
    }
    h1.header-text {
        padding-top: 2%;
        text-align: center;
    }
}