<article class="post excerpt column">
    <div class="feature-thumbnail-container">
        {{ if isset .Params "featured_image" }}
            {{ $previewImageUrl := (partial "image/function_local_img_resolver.html" (dict "ctx" . "input" .Params.featured_image "trace" "blog_preview_square.html")) }}
            <a href="{{ .RelPermalink }}">{{ partial "image/function_add_srcset.html" (dict "ctx" . "input" (printf "<img src=\"%s\" alt=\"%s\">" $previewImageUrl .Title )) }}</a> 
        {{ end }}
    </div>
    <div class="thumbnail-post-content">
        <h2 class="blog-title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
        <span class="entry-meta">{{ .Date.Format (.Site.Params.dateFormat | default "January 2, 2006" ) }}</span>
    </div>
</article>