<article class="post excerpt column">
    <div class="feature-thumbnail-container">
        {{ if isset .Params "featured_image" }}
            <a href="{{ .RelPermalink }}">{{ partial "image/img.html" (dict "ctx" . "src" .Params.featured_image "alt" .Title  "trace" "blog_preview_square.html") }}</a> 
        {{ end }}
    </div>
    <div class="thumbnail-post-content">
        <h2 class="blog-title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
        <span class="entry-meta">{{ .Date.Format (.Site.Params.dateFormat | default "January 2, 2006" ) }}</span>
    </div>
</article>