{{/* 
<!-- 
    IMAGE RENDERER

    Given a site image, render the correct source. Options are:
        - Relative to the current page's URL location
        - In the static folder
        - Via the srcsets file (processed by image processor in Azure)
        - Keep existing link
--> 
*/}}

{{/* <!-- Get input variables --> */}}
{{ $ctx := .ctx }}
{{ $imgRef := .input }}
{{ $return := $imgRef }}
{{ $dir := .ctx.File.Dir }}
{{ $relDir := .ctx.RelPermalink }}

{{/* <!-- Locations where images may exist --> */}}
{{ $fileRef := $imgRef | printf "%s%s" (string $dir) }}
{{ $staticRef := $imgRef | printf "static/%s" }}
{{ $pageRef := $imgRef | printf "%s%s" (string $relDir) }}

{{/* <!-- Finds srcset in the page specific folder --> */}}
{{ $srcSets := .ctx.Site.Data.img.srcsets }}
{{ $pageSrcSetRef := .ctx.Site.Data }}
{{ range (split .ctx.File.Dir "/") }}
    {{ if isset $pageSrcSetRef "srcsets" }}
        {{ $srcSets = merge $srcSets (index $pageSrcSetRef "srcsets") }}
    {{ end }}
    {{ if isset $pageSrcSetRef . }}
        {{ $pageSrcSetRef = index  $pageSrcSetRef . }}
    {{ end }}
{{ end }}

{{/* <!-- If image exists locally and we're not forcing a remote image then --> */}}
{{/* <!--      return a ref where the page is rendered (img will be copied there in build --> */}}
{{ if and (fileExists $fileRef) (not $ctx.Site.Params.force_remote_imgs) }}
    {{ $return = $pageRef }}

{{/* <!-- If image exists in static folder locally and we're not forcing a remote image then --> */}}
{{/* <!--      return the static ref --> */}}
{{ else if and (fileExists $staticRef) (not $ctx.Site.Params.force_remote_imgs) }}
    {{ $return = $staticRef }}

{{/* <!-- else file exists in our srcsets return srcset image ref --> */}}
{{ else if (isset $srcSets $fileRef) }}
    {{ $return = $fileRef }}

{{/* <!-- If file is remote or not found do nothing --> */}}
{{ end }}

{{ chomp (trim $return " \n") }}