{{/* 
<!-- 
    FUNCTION PAGE

    Takes content and adds full urls to images in same folder as markdown file.
--> 
*/}}

{{ $imgs := findRE "src=\"(.*?)\"" .input }}
{{ $link := replace $.Permalink .Site.BaseURL "" }}
{{ $scratch := newScratch }}
{{ $scratch.Set "Content" .input }}
{{ $ctx := .ctx }}

{{ range (uniq $imgs) }}
    {{ if or (in . ".png") (or ( or (in . ".jpg") (in . ".jpeg") ) (in . ".gif")) }}

        {{/* <!-- Use the image resolver to reformat the URL (if needed) --> */}}
        {{ $imgRef := strings.TrimRight "\"" (substr . 5) }}
        {{ $newRef := chomp (trim (partial "function_local_img_resolver.html" (dict "ctx" $ctx "input" $imgRef )) " \n") }}
        
        {{/* <!-- If there is an update to the URL location, then replace all instances in the file --> */}}
        {{ if not (eq $imgRef $newRef) }}
            {{ $scratch.Set "Content" (replace (string ($scratch.Get "Content")) (printf "src=\"%s" $imgRef) (printf "src=\"%s" $newRef)) }}
        {{ end }}
    {{ end }}
{{ end }}
{{ $scratch.Get "Content" | safeHTML }}