<nav class="navbar" id="navbar">
    <div class="navbar-logo">
        <a href="/">{{ partial "img.html" (dict "img" $.Site.Params.header_logo "ctx" $ "class" "nav-logo" "sizes" "(min-width: 1px) 270px") }}</a>
    </div>
</nav>

<div class="banner triangle-container">
    <div class="triangle-1-wrapper">
        <svg class="mustard-fill" viewBox="0 0 100 100" preserveAspectRatio="xMinYMin meet">
            <polygon points="0 0, 100 0, 50 70 "/>
        </svg>
    </div>
    <div class="triangle-2-wrapper">
        <svg class="foam-green-fill" viewBox="0 0 100 100" preserveAspectRatio="xMinYMin meet">
            <polygon points="0 100, 100 100, 100 0"/>
        </svg>
    </div>
    <div class="triangle-3-wrapper">
        <svg class="salmon-fill" viewBox="0 0 100 100" preserveAspectRatio="xMinYMin meet">
            <polygon points="0 0, 0 60, 100 60"/>
        </svg>
    </div>
    <div class="triangle-4-wrapper">
        <svg class="lightgray-fill" viewBox="0 0 100 100" preserveAspectRatio="xMinYMin meet">
            <polygon points="0 0, 100 0, 50 70 "/>
        </svg>
    </div>
    <div class="triangle-5-wrapper">
        <svg class="brown-fill" viewBox="0 0 100 100" preserveAspectRatio="xMinYMin meet">
            <polygon points="50 15, 100 100, 0 100"/>
        </svg>
    </div>  
    <div class="triangle-6-wrapper">
        <svg class="tan-fill" viewBox="0 0 100 100" preserveAspectRatio="xMinYMin meet">
            <polygon points="0 0, 100 0, 50 70 "/>
        </svg>
    </div>
    <div class="triangle-7-wrapper">
        <svg class="salmon-fill" viewBox="0 0 100 100" preserveAspectRatio="xMinYMin meet">
            <polygon points="50 50, 80 100, 30 100"/>
        </svg>
    </div>
    <div class="triangle-8-wrapper">
        <svg class="orange-fill" viewBox="0 0 100 100" preserveAspectRatio="xMinYMin meet">
            <polygon points="0 0 , 0 100, 100 100"/>
        </svg>
    </div>
    <div class="triangle-9-wrapper">
      <svg class="dark-teal-fill" viewBox="0 0 100 100" preserveAspectRatio="xMinYMin meet">
          <polygon points="0 100, 50 50, 100 100 "/>
      </svg>
  </div> 
    <div class="triangle-10-wrapper">
        <svg class="foam-green-fill" viewBox="0 0 100 100" preserveAspectRatio="xMinYMin meet">
            <polygon points="0 100, 100 100, 100 0 "/>
        </svg>
    </div>
    <div class="triangle-11-wrapper">
        <svg class="mustard-fill" viewBox="0 0 100 100" preserveAspectRatio="xMinYMin meet">
            <polygon points="0 0, 0 100, 100 100 "/>
        </svg>
    </div>
    <div class="triangle-12-wrapper">
        <svg class="salmon-fill" viewBox="0 0 100 100" preserveAspectRatio="xMinYMin meet">
            <polygon points="0 0, 0 100, 100 100 "/>
        </svg>
    </div>
    <h1 class="header-text">MIKAEL WEAVER</h1>
</div>