<nav class="navbar desktop-flex" id="navbar-desktop">
    <div class="navbar-links">
        <div><a href="/about/">About</a></div>
        <div><a href="/blog/">Blog</a></div>
    </div>
    <div class="navbar-logo">
        <a href="/">{{ partial "img.html" (dict "img" $.Site.Params.header_logo "ctx" $ "class" "nav-logo" "sizes" "(min-width: 1px) 270px") }}</a>
    </div>
    <div class="navbar-links">
        <div><a href="/photography/">Photography</a></div>
        <div><a href="/contact/">Contact</a></div>
    </div>
</nav>