{{/* <!-- Setup img parametrs --> */}}
{{ $scratch := newScratch }}
{{ $lazy := false }}
{{ $alt := "" }}
{{ $class := "" }}
{{ $srcsetStr := "" }}
{{ $pictureStr := "" }}
{{ $usePicture := false }}
{{ $srcStrReplaced := false}}

{{/* <!-- Populate variables from input --> */}}
{{ if isset .img "alt" }} {{ $alt = .img.alt }}{{ end }}
{{ if isset . "class" }} {{ $class = .class }}{{ end }}
{{ if isset . "lazy" }} {{ $lazy = true }} {{ $class = (delimit (slice "lazyload" $class) " ") }} {{ end }}
{{ $prefix := .ctx.Site.Params.img_prefix | default "" }}
{{ $srcsetPrefix := .ctx.Site.Params.srcset_img_prefix | default "" }}
{{ $mobileMaxSize := .ctx.Site.Params.mobile_max_size | default 1000 }}

{{/* <!-- Figure out image location--> */}}
{{ $srcStr := .img.src }}

{{/* <!-- Figure out srcset--> */}}
{{ $pathNoExtension := substr $srcStr 0 -4 }}
{{ $orig_extension := substr $srcStr (sub (len $srcStr) 3) }}

{{/* <!-- Finds srcset in the page specific folder --> */}}
{{ $srcSets := .ctx.Site.Data.img.srcsets }}
{{ $pageSrcSetRef := .ctx.Site.Data }}
{{ range (split .ctx.File.Dir "/") }}
    {{ if isset $pageSrcSetRef "srcsets" }}
        {{ $srcSets = merge $srcSets (index $pageSrcSetRef "srcsets") }}
    {{ end }}
    {{ if isset $pageSrcSetRef . }}
        {{ $pageSrcSetRef = index  $pageSrcSetRef . }}
    {{ end }}
{{ end }}

{{/* Throw an error if we expect the image but it's not there! */}}
{{ if and (eq .ctx.Site.Params.fail_image_not_in_srcset true) (not (isset $srcSets $srcStr)) }}
    {{ errorf "Failed to find image for srcset processing %s" $srcStr }}
{{ end }}

{{ $combinedSizes := slice }}
{{ range $extension, $sizes := (index $srcSets $srcStr) }} {{range $sizes }}
        {{ $combinedSizes = $combinedSizes | union  (slice .) }}
{{end }}{{ end }}

{{ if gt (index (sort $combinedSizes "value" "desc") 0) 1199 }}
    {{ $scratch.Set "srcset" slice }}

    {{ range $extension, $sizes := (index $srcSets $srcStr) }}
        {{/* <!-- If different format, use picture--> */}}
        {{ if not (eq $orig_extension $extension) }}
            {{ range (sort $sizes "value" "desc") }}
                {{ $usePicture = true }}
                {{ $picturePath := delimit (slice $srcsetPrefix (replace (delimit (slice $pathNoExtension "_" . "w." $extension) "") " " "%20")) ""  }}
                {{ $pictureStr = printf "%s %s" $pictureStr (printf "<source type=\"image/%s\" media=\"(min-width: %spx)\" srcset=\"%s\" />" $extension (string .) $picturePath) }}
            {{ end }}
        {{ else }}
            {{range sort $sizes }}
                {{ $srcSetPath := (replace (delimit (slice $srcsetPrefix $pathNoExtension "_" . "w." $extension) "") " " "%20") }}
                {{ $scratch.Add "srcset" (delimit  (slice $srcSetPath " " . "w") "") }}
                {{ if and (eq $srcStrReplaced false) (gt . $mobileMaxSize) }}
                        {{ $srcStr = $srcSetPath }}
                        {{ $srcStrReplaced = true }}
                {{ end }}
                
            {{ end }}
            {{ if gt (len ($scratch.Get "srcset")) 0 }}
                {{ $srcsetStr = delimit ($scratch.Get "srcset") ", " }}
            {{ end }}
        {{ end }}
    {{ end }}
{{ end }}

{{/* <!-- Add prefix to srcstr if needed - this is a bandaid because sometimes the prefix is added upstream --> */}}
{{ if not (in $srcStr $prefix) }}
    {{ $srcStr = printf "%s%s" $prefix $srcStr }}
{{ end }}

{{/* <!-- Create HTML element --> */}}
{{ if eq $usePicture true }}
    <picture>
        {{ $pictureStr | safeHTML }}
{{ end }}
        <img
        alt="{{ $alt }}"
        class="{{ $class }}"

        {{ if not (eq $srcsetStr "") }}    
            {{ if eq $lazy true }}
                {{ printf "data-srcset=%q" $srcsetStr | safeHTMLAttr }}
            {{ else }}
                {{ printf "srcset=%q" $srcsetStr | safeHTMLAttr }}
            {{ end }}
        {{ end }}

        {{ if eq $lazy true }}
            data-src='{{ $srcStr }}'
            {{ if isset . "sizes" }}
                sizes="{{ .sizes }}"
            {{ else }}
                data-sizes="auto"
            {{ end }}
        {{ else }}
            {{ if isset . "sizes" }}
                sizes="{{ .sizes }}"
            {{ end }}
            src='{{ $srcStr }}'
        {{end}}
        >
{{ if $usePicture }}
    </picture>
{{ end }}