<section class="container list">
  <h1 class="title">{{ .Title }}</h1>
  <div class="article">
    {{ range .Paginator.Pages }}
    <article class="post excerpt column">
      <div class="feature-thumbnail-container">
          {{ if isset .Params "featured_image" }}
              {{ partial "image/img.html" (dict "ctx" . "src" .Params.featured_image "trace" "list.html")}}</a> 
              <a href="{{ .RelPermalink }}">{{ partial "image/img.html" (dict "src" .Params.featured_image "alt" .Title "ctx" . "sizes" "100vw" "trace" "list.html") }}</a>
          {{ end }}
      </div>
      <div class="thumbnail-post-content">
          <h2 class="blog-title"><a href="{{ .RelPermalink }}">{{ upper .Title }}</a></h2>
          <span class="entry-meta">{{ .Date.Format (.Site.Params.dateFormat | default "January 2, 2006" ) }}</span>
      </div>
    </article>
    {{ end }}
  </div>
  {{ partial "pagination.html" . }}
</section>