<section class="container list">
  <h1 class="title">{{ .Title }}</h1>
  <div class="article">
    {{ range .Paginator.Pages }}
    <article class="post excerpt column">
      <div class="feature-thumbnail-container">
          {{ if isset .Params "featured_image" }}
              {{ $previewImageUrl := (partial "function_local_img_resolver.html" (dict "ctx" . "input" .Params.featured_image)) }}
              <a href="{{ .RelPermalink }}">{{ partial "function_add_srcset.html" (dict "ctx" . "input" (printf "<img src=\"%s\" alt=\"%s\">" $previewImageUrl .Title )) }}</a> 
          {{ end }}
      </div>
      <div class="thumbnail-post-content">
          <h2 class="blog-title"><a href="{{ .RelPermalink }}">{{ upper .Title }}</a></h2>
          <span class="entry-meta">{{ .Date.Format (.Site.Params.dateFormat | default "January 2, 2006" ) }}</span>
      </div>
    </article>
    {{ end }}
  </div>
  {{ partial "pagination.html" . }}
</section>