<nav class="page-nav">
    <div class="page-img-name">
        <div class="page-nav-logo">
            {{ partial "image/img.html" (merge .Site.Params.header_logo (dict "ctx" $ "class" "page-nav-logo" "sizes" "(min-width: 1px) 270px" "trace" "page_header.html")) }}
        </div>
        <p>MIKAEL WEAVER</p>
    </div>
    <ul class="menu" id="menu">
        <li>
            <a href="/">Home</a>
        </li>
        <!--<li>
            <a href="/blog">Blog</a>
        </li>-->
    </ul>
</nav>