{{ $headers := findRE "<h[2-2].*?>(.|\n])+?</h[2-2]>" .ctx.Content }}
{{ $numHeaders := len $headers }}
{{ $hasHeaders := ge $numHeaders 1 }}
{{ $ctx := .ctx }}

{{ $headingsToIgnore := slice }}
{{ if isset . "headings_to_ignore" }}
    {{ $headingsToIgnore = .headings_to_ignore }}
{{end }}

{{ if $hasHeaders }}
<nav id="toc" data-toggle="toc">
  <!-- TOC header -->
  <div id="toc-wrapper">
  <h2 class="toc-heading">Table of Contents</h2>
  <div class="toc-column-container">
  <ul class="toc">
    {{/* Filter out requested headers */}}
    {{ $filteredHeaders := slice }}
    {{ range $headers }}
        {{ if not (in $headingsToIgnore (. | htmlUnescape | plainify | htmlEscape)) }}
            {{ $filteredHeaders = $filteredHeaders | append . }}
        {{ end }}
    {{ end }}

    {{ range $i, $header := $filteredHeaders }}
      {{ $currentHeaderLevelString := index (findRE "[2-4]" $header 1) 0 }}
      {{ $currentHeaderLevel := len (seq $currentHeaderLevelString) }}
      {{ $anchorId := (replaceRE  "[’/_]" "-" ($header | htmlUnescape | plainify | htmlEscape)) | urlize }}
      {{ $anchorUrl := printf "%s#%s" $ctx.RelPermalink $anchorId }}
      {{ $listItemTitle := $header | htmlUnescape | plainify | htmlEscape }}
      {{ $listItemOpen := safeHTML (printf "<li><a href='%s'>%s</a>" $anchorUrl $listItemTitle) }}
      {{ $lastItemIndex := sub $numHeaders 1 }}

          {{/* case: there is only one header */}} 
          {{ if lt $numHeaders 2 }}
            {{ $listItemOpen }}</li>
          {{ else }}

            {{/* case: more than 1 header, first header */}}
            {{ if lt $i 1 }}
              {{ $listItemOpen }}

            {{/* case: more than 1 header, not first header */}}
            {{ else }}
              {{ $previousHeader := index $headers (sub $i 1) }}
              {{ $previousHeaderLevelString := index (findRE "[2-4]" $previousHeader 1) 0 }}
              {{ $previousHeaderLevel := len (seq $previousHeaderLevelString) }}

              {{/* case: header is at the same level as the previous header */}}
              {{ if eq $currentHeaderLevel $previousHeaderLevel }}
                </li>
                {{ $listItemOpen }}
              
              {{/* case: header is higher than the previous header (e.g. h3 where previous header is h2) */}}
              {{/* a header should never be more than 1 higher than the previous h2 -> h3 -> h4 */}}
              {{ else if gt $currentHeaderLevel $previousHeaderLevel }}
                <ul>
                  {{ $listItemOpen }}

              {{/* case: header level is lower than the previous header (e.g. h2 where previous header is h4) */}}
              {{/* the previous header may be multiple levels different, h2 can legitimately follow a h4 */}}
              {{ else if lt $currentHeaderLevel $previousHeaderLevel }}
                {{/* close the <li> of the previous header */}}
                </li>

                {{/* close the <ul>s and <li>s of the previous headers */}}
                {{ $headerLevelDifference := sub $previousHeaderLevel $currentHeaderLevel }}
                {{ range (seq $headerLevelDifference) }}
                  </ul></li>
                {{ end }}
                
                {{ $listItemOpen }}

              {{ end }}
            
            {{/* case: long list we want to break in half midway through for columns */}} 
            {{ if and (gt (len $filteredHeaders) 7) (eq (sub (div (len $filteredHeaders) 2) 0) $i) }}
                </ul><ul class="toc">
            {{ end }}

            {{ end }}
            {{/* end if based on first or not first header */}}

            {{/* case: last header, time to close any open <li> and <ul> */}}
            {{ if eq $i $lastItemIndex }}
              {{ $firstHeader := index $headers 0 }}
              {{ $firstHeaderLevelString := index (findRE "[2-4]" $firstHeader 1) 0 }}
              {{ $firstHeaderLevel := len (seq $firstHeaderLevelString) }}

              {{/* close the <li> of the previous header */}}
              </li>

              {{/* close the <ul>s and <li>s of the previous headers */}}
              {{ $differenceWithFirstHeader := sub $firstHeaderLevel $currentHeaderLevel }}
              {{ range (seq $differenceWithFirstHeader) }}
                </ul></li>
              {{ end }}
            {{ end }}
            {{/* end if last item */}}

          {{ end }}
          {{/* end if numhHeaders > 1 */}}

    {{ end }}
    {{/* end range headers */}}
    {{ if isset .Params "comments_uuid" }}
      <li><a href='#comments'>Comments</a></li>
    {{ end }}
  </ul>
</div>
</div>
</nav>
{{ end }}
{{/* end if has headers */}}