{{ define "title" }}Mikael Weaver{{ end }}

{{ define "style" }}
    {{ $home_styles := resources.Get "/scss/home.scss" | resources.ExecuteAsTemplate "homet.scss" . | toCSS | postCSS | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $home_styles.Permalink }}" integrity="{{ $home_styles.Data.Integrity }}" media="screen">
{{ end }}

{{ define "content" }}
    <!--
    <div id="about-box" class="center test-bg">
        <p class="center">Health care, software, solutions for humans</p>
    </div>
    -->

    <h2 class="center"></h2>

    {{ range first 10 (where site.RegularPages "Section" "==" "blog")}}
        {{ partial "blog_preview_square.html" . }}
    {{ end }}
{{ end }}