{{ define "title" }}Mikael Weaver - Software Engineer{{ end }}

{{ define "style" }}

{{ end }}

{{ define "content" }}
<div>
    <ul class="link-row">
        <li><a href="/blog/">Tech Blog</a> • </li>
        <li><a href="/photography">Photography</a></li>
    </ul>
    <br />
    <ul class="link-row">
        <li><a href="mailto:mikael.weaver@gmail.com">Email</a> • </li>
        <li><a href="https://twitter.com/mikaelweave">Twitter</a> • </li>
        <li><a href="https://www.linkedin.com/in/mikaelweave/">LinkedIn</a></li>
    </ul>
</div>
{{ end }}